.title {
    font-size: 30px;
}

.movieForm {
    margin-top: 5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieInput::placeholder {
    color: #212529;
    opacity: 0.4;
}

.movieInput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
}

.btn {
    padding: 11px;
    background-color: orange;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 7px;
    margin: 0 0 0 5px;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1);
}

.btn:hover {
    background-color: rgb(255, 141, 2);
    cursor: pointer;
}

.list {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 100px;
}

.listItem {
    position: relative;
    display: flex;
    padding: 5px 10px
}

.listItem::before {
    content: "";
    background-image: url(../../SVG/film.svg);
    background-size: cover;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -20px;
}

.listItem:hover,
.listItem:focus {
    color: orange;
    cursor: pointer;
}